<!-- ng-repeat -->
<div class="ach-list row">
	<div class="achievement col-xs-6 col-lg-4">
		<h2>First Steps</h2>
		<p>Walk across the Golden Gate Bridge!</p>
		<div id="progress">
		    <span id="status">3,000 steps</span>
		    <span id="goal">10,000 steps</span>
		    <div id="bar"></div>
		</div>

	</div>
	<div class="achievement col-xs-6 col-lg-4">
		<h2>Bay to Breakers</h2>
		<p>Get from AT&T Park to Lands End!</p>
		<div id="progress">
		    <span id="status">3,000 steps</span>
		    <span id="goal">10,000 steps</span>
		    <div id="bar"></div>
		</div>
		
	</div>
	<div class="achievement col-xs-6 col-lg-4">
		<h2>Stair Challenge</h2>
		<p>Climb 50 flights of stairs</p>
		<div id="progress">
		    <span id="status">3,000 steps</span>
		    <span id="goal">10,000 steps</span>
		    <div id="bar"></div>
		</div>
		
	</div>
	<div class="achievement col-xs-6 col-lg-4">
		<h2>Week Challenge</h2>
		<p>Walk 2 miles for 7 days straight!</p>
		<div id="progress">
		    <span id="status">3,000 steps</span>
		    <span id="goal">10,000 steps</span>
		    <div id="bar"></div>
		</div>
		
	</div>
	<div class="achievement col-xs-6 col-lg-4">
		<h2>Everest Challenge</h2>
		<p>Climb 2900 flights of stairs!</p>
		<div id="progress">
		    <span id="status">3,000 steps</span>
		    <span id="goal">10,000 steps</span>
		    <div id="bar"></div>
		</div>
	</div>
	<div class="achievement col-xs-6 col-lg-4">
		<h2>Walk Across America</h2>
		<p>Trek from SF to NY!</p>
		<div id="progress">
		    <span id="status">3,000 steps</span>
		    <span id="goal">10,000 steps</span>
		    <div id="bar"></div>
		</div>
	</div>
</div>