<!-- overlays two images, one with the path and one without. Puts the Image with the path in a div that increases in width the more the user has walked -->
<p> {{userInfo.name}}, here is all your progress</p>
<img class="nopath" src="images/LutetiaNoPath.jpg" alt="asteroid Lutetia"/>
<div class="pathcontainer" style="height:650px; width:{{distance}}px;">
  <img class="path" src="images/LutetiaPath.jpg" alt="asteroid Lutetia with path"/>
</div>
<p>This is asteroid Lutetia. Your journey is roughly 100 miles.</p>
<br>
<a ng-href="/progress">back</a>