<div class="jumbotron">
  <h1>Pathlete</h1>
  <p class="lead">
    <img src="images/everest.png" alt="I'm everest"><br>
    We'll help you reach those lofty goals. One step at a time.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/login">Log in</a></p>
</div>

<div class="row marketing">
  <h4>Why?</h4>
  <p>
    Many people don't realize how a little effort each day can lead to huge gains in the long term. We are here to show you the way.
  </p>

  <h4>How?</h4>
  <p>
    Using the Fitbit API, we can show you realtime data on your daily activity, trends in your overall progress, and transform your motivation from zero to hero.
  </p>

  <h4>The Team</h4>
  <div class="team-member">
    <p>Karim Kyler</p>
  </div>
  <div class="team-member">
    <p>Samin Sepasi</p>
  </div>
  <div class="team-member">
    <p>Matt Polland</p>
  </div>
  <div class="team-member">
    <p>Jake Obron</p>
  </div>
</div>
